---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="About — Dan Park" description="About Dan Park.">
	<div class="container">
		<div class="section">
			<h1 class="section-title">About</h1>
			<div class="post-body">
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed posuere consectetur est at lobortis. Donec sed odio dui.
				</p>
				<p>
					Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec id elit non mi porta gravida at eget metus.
				</p>
				<p>
					Maecenas faucibus mollis interdum. Cras mattis consectetur purus sit amet fermentum.
				</p>
			</div>
		</div>
	</div>
</Layout>
