---
import type { Service } from '../data/services';

interface Props {
	service: Service;
}

const { service } = Astro.props;
---

<article class="service-item">
	<h3>{service.title}</h3>
	<p>{service.description}</p>
</article>
